services:
  db:
    image: postgres:17.4-alpine3.21
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./docker/db:/docker-entrypoint-initdb.d
    ports:
      - ${DB_PORT:?}:5432

volumes:
  postgres:
