services:
  db:
    image: postgres:18.2-alpine3.23
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./docker/db:/docker-entrypoint-initdb.d
    ports:
      - ${DB_PORT:?}:5432
    command: >
      postgres -c lock_timeout=1s -c statement_timeout=3s

volumes:
  postgres:
